<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
          <class name="testcases.TicketingGroupTest"/>
          <class name="testcases.TicketingServiceBoardTest"/>
          <class name="testcases.SLATest"/>
    
<!--       <class name="utils.WebTestBase"/> -->
<!--       <class name="testcases.TicketGroupListingTest"/> -->
<!--       <class name="testcases.AddTicketTest"/> -->
<!--       <class name="testcases.TicketListingTest"/> -->
<!--       <class name="testcases.CompanySetupAddUserTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
